.deleteMovies {
  background-color: #1ba1be;
  border: none;
  border-radius: 4px;
  color: #ffffff;
  padding: 10px 40px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  font-weight: bold;
  line-height: 16px;
  font-family: "Barlow", sans-serif;
  margin-bottom: 10px;
  cursor: pointer;
}
